{% extends 'order/base.html' %}
{% load static %}
{% load order_tags %}

{% block head %}

    <title>Данные по продукту</title>

{% endblock head %}

{% block content %}

    <!--контент локальной странички-->
<h3>Данные по продукту</h3>
<hr>
{% for p in product %}
<p>
    <b>Наименование: </b>{{ p.product_name }}
</p>
{% if p.product_photo %}
    <p><b>Фото: </b></p>
    <p><img src="{{ p.product_photo.url }}" class="product_img img-thumbnail img-fluid rounded float-start shadow-sm" alt="product_photo"></p>
    <div class="clear"></div>
{% endif %}
<p>
    <b>Описание: </b>{{ p.product_description }}
</p>
<p>
    <b>Ед. измерения: </b>{{ p.product_unit }}
</p>
<p>
    <b>Цена за ед.: </b>{{ p.product_price }}
</p>
{% endfor %}
<hr>
<!--КОНЕЦ-контент локальной странички-->

{% endblock content %}