{% extends 'user/base.html' %}
{% load static %}

{% block head %}
    <title>Регистрация</title>
{% endblock head %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h2>Регистрация</h2>
    <form  method="POST">
        {% csrf_token %}

        <!-- общие ошибки (неверный логин пароль) -->
        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
            <div class="row">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <label class="control-label" for="{{ f.id_for_label }}">{{f.label}}:</label>
                    </span>
                    {{ f }}
                </div>
            </div>

            <!-- отображаем ошибки (некорректный ввод)-->
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <div class="d-grid gap-2 col-6 mx-auto">
            <input class="btn btn-primary" type="submit" value="Регистрация">
        </div>
    </form>
</div>
{% endblock content %}


